<h1>Reciept</h1>

<p><%= @service_appointment.service.name %>  service has been confirmed!!</p>

<p><%= @service_appointment.appointment.dog.name %> has been schedule.</p>

<p>Service total: <%= @service_appointment.service_total %></p>
