  <div class="jumbotron">
    <h1 class="display-4">Welcome! Dog Walking App </h1>
    <p class="lead"> This is a simple hero unit, a simple jumbotron-style component</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up Now!!</a>
    </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <!-- Single Card -->
      <div class="card" style="width: 18rem">
      <img class="card-img-top" src="https://images.pexels.com/photos/1249208/pexels-photo-1249208.jpeg?cs=srgb&dl=4k-wallpaper-adorable-animal-1249208.jpg&fm=jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dog Walking</h5>
        <p class="card-text">Praesent sapien massa, convallis a pellentesque nec,
          egestas non nisi. Cras ultricies ligula sed magna dictum porta.
          Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit,
          eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Quisque velit
          nisi, pretium ut lacinia in, elementum id enim.</p>
        <a href="#" class="btn btn-primary">Book Service</a>
        </div>
      </div>
    </div>
      <!-- End of Single Card -->
      <!-- Single Card -->
      <div class="col-sm-6">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="https://images.pexels.com/photos/374898/pexels-photo-374898.jpeg?cs=srgb&dl=adorable-animal-bed-374898.jpg&fm=jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pet Sitting</h5>
            <p class="card-text">Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi. Cras ultricies ligula sed magna dictum porta.
              Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit,
              eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Quisque velit
              nisi, pretium ut lacinia in, elementum id enim.</p>
              <a href="#" class="btn btn-primary">Book Service</a>
          </div>
        </div>
      </div>
      <!-- End of Single Card  -->
      <!-- Single Card -->
      <div class="col-sm-6">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="https://images.pexels.com/photos/981062/pexels-photo-981062.jpeg?cs=srgb&dl=adorable-animal-breed-981062.jpg&fm=jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pet In-Home Services</h5>
            <p class="card-text">Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi. Cras ultricies ligula sed magna dictum porta.
              Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit,
              eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Quisque velit
              nisi, pretium ut lacinia in, elementum id enim.</p>
              <a href="#" class="btn btn-primary">Book Service</a>
          </div>
        </div>
      </div>
        <!-- End of Single Card -->
        <!-- Single Card -->
        <div class="col-sm-6">
          <div class="card" style="width: 18rem">
            <img class="card-img-top" src="https://images.pexels.com/photos/791862/pexels-photo-791862.jpeg?cs=srgb&dl=adorable-animal-animal-photography-791862.jpg&fm=jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Overnight</h5>
              <p class="card-text">Praesent sapien massa, convallis a pellentesque nec,
                egestas non nisi. Cras ultricies ligula sed magna dictum porta.
                Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a. Sed porttitor lectus nibh. Quisque velit
                nisi, pretium ut lacinia in, elementum id enim.</p>
                <a href="#" class="btn btn-primary">Book Service</a>
              </div>
            </div>
        </div>
        <!-- End of Single Card -->
</div>
