
  <div class="jumbotron big-banner" style="height: 500px; padding-top: 150px;">
    <h1 class="display-4 text-success">Welcome To Wags n'Tails! </h1>
    <p class="lead text-success"> Book a walk or become a walker!</p>
    <hr class="my-4">
    <p class="text-success">If you love cute little fur babies, you'll want to check this site out! Other dog services also available.</p>

    <p class="lead">
      <a class="btn btn-dark btn-lg text-center" href= "<%= new_session_path %>" role="button">Register Today!</a>
    </p>

  </div>
