<h1>Appointment for <%= @appointment.dog.name %> </h1>
<ul>
  <li>Appointment time: <%= @appointment.datetime.strftime("%A, %B %d at %-I:%M%p") %></li>
  <li>Walked by: <%= @walker_name %></li>
  <li>Walked: <%= @appointment.walked %>

</ul>
